//variables

$fuentePrincipal :'Roboto', sans-serif;
$fuenteSecundaria :'Anton', sans-serif;
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main 
{
    max-width: 80rem;
    height: auto;
    margin: 0 auto;
    @media (max-width:760px){
        width: 100%;
    }
    
}



.header
{
    max-width: 120rem;
    height:40rem;
    background-color: #1e1e1e;
    
    justify-content: space-between;
    padding-left:2rem;
    padding-right: 2rem;
    background-image:url('../img/istockphoto-174978843-612x612.jpg');
    background-size: cover;
    background-position: center;
    @media (max-width:760px){
     width: 100%;
      height: 30rem;
    }
    
    img 
    {
        width: 6rem;
        height: 6rem;
        margin-top: 1rem;
        
    }
}
.header_navegador 
{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    @media (max-width:760px){
     display: none;   
    }
   

}

.navegador 
{
    display: flex;
    width: 50rem;
    height: 2rem;
    justify-content: space-around;
    margin-top: 3rem;
    padding: 1rem;
    @media (max-width:760px){
       display: none;   
    }
   
   
    a 
    {
        text-decoration: none;
        font-family: $fuentePrincipal;
        color: #ffffff;
        margin-right: 2rem;
        font-size:1.3rem;
        transition: all .3s linear;
        text-transform: uppercase;
       
    }
    ion-icon 
    {
        color: #ffffff;
        margin-right: .6rem;
        margin-top: -.2rem;
        font-size: 2rem;
        transition: all .3s linear;
    }
}

.navegador ion-icon:hover 
{
    color: orange;
    transform:rotate(180deg);
}
.navegador a:hover 
{
    color: orange;
    
  
}
.title_central 
{
    width: 100%;
    height: 40rem;
    display: flex;
    @media (max-width:760px){
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }
    

    
    h1,h2 
    {
        font-size: 7rem;
        color: #ffffff;
        text-align: center;
        font-family: $fuenteSecundaria;
        text-transform: uppercase;
        text-shadow: 0 0 .2rem #1e1e1e;
        @media (max-width:760px){
          font-size: 4rem;

        }
    }
    h1 
    {
        color: orange;
        text-shadow: 0 0 .2rem #1e1e1e;
    }
    img 
    {
    
        width: 15rem;
        height: 15rem;
        @media (max-width:760px){
          width: 9rem;
          height: 9rem;
          
          
        }
    }
}
.first_section_container 
{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    @media (max-width:760px){
     width: 100%;   
    }
}
.first_section_imagen
{
    width: 30rem;
    height: 20rem;
    margin: 0 auto;
    img 
    {
        width: 100%;
        height: 100%;
    }
}
.first_section_container .fisrt_section_text 
{
    width: 100%;
    height: 30rem;
    padding-top: 2rem;
    border-bottom: .4rem solid #FF5733;
    border-top: .2rem solid #3d3d3d;
    @media (max-width:760px){
     width: 100%;
     height: auto;
    }
    h2 
    {
        text-transform: uppercase;
        background-color: #ffffff;
        color:#1e1e1e;
        font-family: 'Montserrat', sans-serif;
        @media (max-width:760px){
            font-size: 2rem;
          
        }
    }
    span 
    {
        color:#FF5733;
        font-family: $fuenteSecundaria;
    }
    p 
    {
        font-family: $fuentePrincipal;
        color: #3d3d3d;
        @media (max-width:760px){
         font-size: 1.3rem;
         text-align: center;
        }
    }
}

.first_section 
{
    width:100%;
    height:auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    @media (max-width:760px){
     width: 100%;
     height: auto;
     margin-top: 2rem;
     
    }
    h2 
    {
        font-size: 3rem;
        background-color: #FF5733;
        color:#ffffff;
        text-transform: uppercase;
        text-align: center;
        padding: 1rem;
       
    }
    span 
    {
        text-transform: uppercase;
    }
    p 
    {
        font-size: 1.5rem;
        font-family: 'Montserrat', sans-serif;
        color: #1e1e1e;
        margin-top: 2rem;
        padding: 1rem;

    }
}

.primera_seccion 
{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 4rem;
    margin-top: 4rem;
    @media (max-width:760px){
      width: 100%;
      height: auto;
      margin-top: 24rem;   
    }
   
    
    h2 
    {
        font-family: $fuenteSecundaria;
        font-size: 1.8rem;
        text-align: center;
        color: #ffffff;
        text-transform: uppercase;
    }
}
.primera_seccion .info 
{
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    box-shadow:  0 .2rem 2rem #ededed;
    @media (max-width:760px){
     width: 100%;   
    }

   
    img 
    {
        width: 100%;
        height: 15rem;
       
    }
    p 
    {
        font-family: Arial, Helvetica, sans-serif;
        color: #3d3d3d;
        margin-top: 1rem;
        margin-left: 3rem;
        font-size: 1rem;
        width: 80%;
        text-align: justify;
        @media (max-width:760px){
          font-size: 1rem;
          width: 100%;
          margin-left: 0;
        }
        

    }
    h3 
    {
        font-family: $fuentePrincipal;
        color: #FF5733;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}
.title_central .title_central_imagen,
.title_central .title_central_titulo 
{
    width: 100%;
    height: 30rem;
}
.title_central .title_central_titulo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media(max-width:760px){
        width: 100%;
        height: auto;
        margin-top: -10rem;
    }
}


.title_central .title_central_imagen

{
    display: flex;
    justify-content: center;
    
    @media(max-width:760px){
        width: 10rem;
        height: 10rem;
       margin-top: 2rem;
    }
    img 
    {
        margin-left: -2rem;
        @media (max-width:760px){
        margin-left: 1rem;
        margin-top: -2rem;
        
        }
    }

    
}
.seccion_entrenamiento
{
    width: 100%;
    height: auto;
    @media (max-width:760px){
     width: 100%;  
     height: auto; 
    }
    h2 
    {
        font-size: 3rem;
        text-align: center;
        @media (max-width:760px){
           font-size: 2rem;
        
        }
        
    }
    button 
    {
        @media (max-width:760px){
          display: none;
        }
    }
}

.carousel
{
    width: 80%;
    height: 30rem;
    margin: 4rem auto;
    @media (max-width:760px){
     width: 100%;
   
    }

}
.carousel-inner 
{
    height: 20rem;
    @media (max-width:760px){
     height: 10rem !important;   
    }
    
}
.imagenes_entrenamiento 
{
    width: 80%;
    height: 25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    img 
    {
        width: 12rem;
        height: 10rem;
        @media (max-width:760px){
          width: 6rem;
          height: 5rem;
        }
    }
}
.dias_entrenamiento
{
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    @media (max-width:760px){
     width: 100%;   
    }
    h3 
    {
        color: #FF5733;
        @media (max-width:760px){
         font-size: 1.3rem;
        }
    }
    ion-icon 
    {
        color: #92bf24;
    }
    h4 
    {
        @media (max-width:760px){
         font-size: 1rem;
        }
    }
    
}
.dias_entrenamiento .mapa_entrenamiento
{
    width: 100%;
    height: 30rem;
    margin-top: 3rem;
    @media (max-width:760px){
     width: 100%;
     height: auto;  
    }
    img 
    {
        width: 90%;
        height: 25rem;
        @media (max-width:760px){
         width: 100%;
         height: 10rem;
        }
    }
}

.footer 
{
    width: 100%;
    height: 10rem;
    margin-top: 70rem;
    background-color: #1e1e1e;
    padding: 1rem;
    @media (max-width:760px){
     width: 100%;
     text-align: center;
     margin-top: 40rem;
     height: auto;
        
    }

    ion-icon 
    {
        color: #ffffff;
        font-size: 1.5rem;
    }
    
    h3 
    {
        font-size: 1.5rem;
        color: #ffffff;
        font-family: $fuentePrincipal;
        text-transform: uppercase;
        @media (max-width:760px){
         font-size: 1rem;
         display: flex;
         align-items: center;
         justify-content: center;
        }
    }
    h2 
    {
        color: #ffffff;
        font-family: $fuentePrincipal;
        text-transform: uppercase;
        color: #FF5733;
        @media (max-width:760px){
         font-size: 1rem;
        }
    }
    a 
    {
        text-decoration: none;
        color:#92bf24;
        margin-left: 1rem;
    }
}
.templatemo_contacttitle {
    width: 100%;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: bold;
    color: #1e1e1e;
    text-align: center;
    @media(max-width:760px){
      width: 100%;
      margin-top: 5rem;
      display: flex;
      margin-left: 6rem;
    }
}

.templatemo_sub_contacttitle {
    width: 100%;
    font-size: 2rem;
    color:#FF5733;
    text-align: center;
    margin-bottom: 50px;
    @media(max-width:760px){
     margin-left: 1rem;
    }
}

.templatemo_contact {
    margin: 30px;
    width: 100%;
    @media(max-width:760px){
    width: 90%;
    
    
    }
    
}
.templatemo_contactform
{
   
    padding-bottom: 3rem;
   margin-left: -5rem;
   margin-top: 2rem;
   @media(max-width:760px){
      width: 100%;
      margin-left: .5rem;
   }
   img 
   {
    width: 10rem;
    height: 10rem;
    margin-left: 16rem;
    @media(max-width:760px){
     margin-left: 7rem;
    }
   }
   p 
   {
    font-family: $fuentePrincipal;
   }
}

.templatemo_contactform input, textarea {
    width: 100%;
    background: #282828;
    border: 1px solid #393939;
    padding: 7px 10px;
    margin: .4rem auto;
    background-color: #FAFAFA;
}

.templatemo_contactform textarea {
    height: 100px;
}


.templatemo_contactform .btn-primary {
    background: #92bf24;
    border: none;
    border-radius: 0px;
    color: #3d5602;
    font-weight: 800;
}

.templatemo_contactform .btn-primary:hover {
    background: #a6d82c;
}
.navegador_movil 
{
    display: none;
    transition: all .4s linear;
    @media(max-width:760px){
        display: block;
        width:100%;
        height: 3rem;

        margin-top: 0rem;
        background-color: #282828;
        h2 
        {
            color: #ffffff;
            font-family: $fuentePrincipal;
            font-size: 1.8rem;
            text-align: center;
            width: 100%;
        }
    }
}
.navegador_movil:hover > .navegador_movil_links {
    display: flex;
}
.navegador_movil .navegador_movil_links 
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #282828;
    position: absolute;
    z-index: 99;
    line-height: 4rem;
    display: none;
    ion-icon 
    {
        display: none;
    }
    a 
    {
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    color: #FF5733;
    text-transform: uppercase;
    transition: all .3s linear;
    }
    
}
 .navegador_movil .navegador_movil_links a:hover 
{
  background-color: #FF5733;
  color: #ffffff;
}


/********** contacto ****/

.footer_contacto 
{
    width: 100%;
    height: 10rem;
    padding: 2rem;
    background-color: #1e1e1e;
    @media(max-width:760px){
        text-align: center;
        height: 12rem;
       
    }
    ion-icon 
    {
        color: #ffffff;
        font-size: 1.5rem;
    }
    
    h3 
    {
        font-size: 1.5rem;
        color: #ffffff;
        font-family: $fuentePrincipal;
        text-transform: uppercase;
        @media(max-width:760px){
           font-size: 1rem;
        }
        
    }
    h2 
    {
        color: #ffffff;
        font-family: $fuentePrincipal;
        text-transform: uppercase;
        color: #FF5733;
        
    }
    a 
    {
        text-decoration: none;
        color:#92bf24;
        margin-left: 1rem;
    }
}
.header_navegador_contacto 
{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    @media(max-width:760px){
        display: none;
    }
}
.header_contacto 
{
    max-width: 120rem;
    height:60rem;
    background-color: #1e1e1e;
    justify-content: space-between;
    padding-left:2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    background-image:url('../img/istockphoto-174978843-612x612.jpg');
    background-size: cover;
    background-position: center;
    @media(max-width:760px){
        height: 35rem;
        overflow: hidden;
       
       
    }
    
}
.navegador_movil_contacto 
{
     
    display: none;
    background-color: #1e1e1e;
    height: 3rem;
    @media(max-width:760px){
        display: block;
        width: 100%;
        position: absolute;

    }

    h2 
    {
        font-size: 2rem;
        color: #ffffff;
    }
    
}

.navegador_movil_contacto .navegador_movil_links_contacto 
{
   @media(max-width:760px){
    width: 100%;
    height: 13rem;
    margin-top: 0rem;
   position: absolute;
    background-color: #1e1e1e;
    line-height: 3rem;
    display: none;
    
 
 
    a 
    {
        color:#FF5733;
        text-decoration: none;
        font-size: 1.5rem;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
           align-items: center;
           transition: all .4s linear;
    }
    ion-icon 
    {
        display: none;
    }
   }
   



}
.navegador_movil_links_contacto a:hover 
{
    background-color: #FF5733;
    color: #ffffff;
}
.navegador_movil_contacto:hover .navegador_movil_links_contacto 
{
    display: block;
}
.container_contacto 
{  
     
     width: 100%;
     height: auto;
    @media(max-width:760px){
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}

.contactform
{

    height: auto;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 3rem auto;
    @media(max-width:760px){
       width: 100%;  
       padding-top: 3rem;
       
    }
    h2 
    {
        font-family: $fuentePrincipal;
        font-size: 3rem;
        text-align: center;
        @media(max-width:760px){
           font-size: 2rem;
        }
    }

    img 
    {
        width: 10rem;
        height: 10rem;
        margin: 0 auto;
       
    }
    p 
    {
        @media(max-width:760px){
            font-size: 1rem;
            width: 80%;
        }
    }
    form 
    {
        width: 35rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        @media(max-width:760px){
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 100%;
        }
        input
        {
            margin-top: 1rem;
            margin-bottom: 1rem;
            height: 2.5rem;
            border: none;
            border-bottom: .1rem solid #7e7e7e;
            @media(max-width:760px){
              width: 20rem;
            }
        }
        textarea
        {
            margin-top: 1rem;
            margin-bottom: 1rem;
            @media(max-width:760px){
                   width: 20rem; 
            }
        }
        
    }
}
#btn_enviar
{
    @media(max-width:760px){
        width: 20rem;   
    }
}
.title_central_contacto{
    width: 100%;
    height: 30rem;
    display: flex;
    @media(max-width:760px){
        width: 100%;
        height: 30rem;
        display: flex;
        flex-direction: column;
        margin-top: -8rem;
    }
}
.title_central_contacto .title_central_imagen_contacto,
.title_central_contacto .title_central_titulo_contacto 
{
    width: 100%;
    height: 30rem;
}
.title_central_contacto .title_central_titulo_contacto
{
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    h1,h2 
    {
        font-size: 7rem;
        color: #ffffff;
        text-align: center;
        font-family: $fuenteSecundaria;
        text-transform: uppercase;
        text-shadow: 0 0 .2rem #1e1e1e;
        @media (max-width:760px){
          font-size: 4rem;

        }
    }
    h1
    {
        color: orange;
    }

   
}


.title_central_contacto .title_central_imagen_contacto

{
    display: flex;
    justify-content: center;
    align-items: center;
    
    img 
    {
        width: 15rem;
        height: 15rem;
       margin-top: 3rem;
       margin-left: 1rem;
       @media(max-width:760px){
          width: 10rem;
          height: 10rem;   
    }
      
    }

    
}

